.container_gris{
    background-color: gray;
    margin: 40px 80px 40px 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    gap: 15px;
}
.card{
    padding: 10px;
    min-width: 150px;
    min-height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_multimedia{
    max-width: 100px;
    text-align: center;
}
#card_image{
    max-width: 100%;
}


.container_red{
    background-color: red;
}

.container_yellow{
    background-color: yellow;
}

.container_green{
    background-color: green;
}

