section{
    width: 250px;
    background-color: #9c6dec;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: #ffffff;
    padding-bottom: 15px;
}

.card h3{
    text-align: center;
}


.card_list{
    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: none;
    background-color: #f7f2ff;
}

.card_list li{
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}


.card_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon{
    font-size: 16px !important;
}
.card_footer img{
    border-radius: 50%;
}